extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  br
  br
  .center-section
   ul.input-list.style-2.clearfix
    li: input(type="text",placeholder="insert data to blockchain",size="250",maxlength="250")
    br
    br
    li: input.myButton(type="button",value="Send" )
   